admin:
  password: 81ktoc8qz5gj
  username: forcad
game:
  checkers_path: /checkers/
  default_score: 2500.0
  env_path: ''
  flag_lifetime: 10
  game_hardness: 15.0
  inflation: true
  mode: classic
  round_time: 60
  start_time: 2026-04-05 10:00:00
  timezone: Europe/Moscow
  volga_attacks_mode: false
storages:
  db:
    dbname: forcad
    host: postgres
    password: 81ktoc8qz5gj
    port: 5432
    user: forcad
  rabbitmq:
    host: rabbitmq
    password: 81ktoc8qz5gj
    port: 5672
    user: forcad
    vhost: forcad
  redis:
    db: 0
    host: redis
    password: 81ktoc8qz5gj
    port: 6379
tasks:
- checker: babuinterpreter/checker.py
  checker_timeout: 55
  checker_type: pfr
  gets: 1
  name: babuinterpreter
  places: 1
  puts: 1
- checker: zbank/checker.py
  checker_timeout: 55
  checker_type: pfr
  gets: 3
  name: zbank
  places: 5
  puts: 3
- checker: resheto/checker.py
  checker_timeout: 55
  checker_type: pfr
  gets: 2
  name: resheto
  places: 3
  puts: 2
teams:
{% for t in (teams_input | sort(attribute='id')) %}
- highlighted: false
  ip: 10.80.{{ t.id | int }}.2
  name: {{ t.name | tojson }}
{% endfor %}
